@font-face {
	font-family: 'Helvetica';
	src: url('fonts/aghelvetica.eot');
	src: local('☺'), url('fonts/aghelvetica.woff') format('woff'), url('fonts/aghelvetica.ttf') format('truetype'), url('fonts/aghelvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica;
}

.header {
    display: block;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgb(234, 239, 243);
    border-bottom: 5px dotted rgb(168, 195, 207) ;
}

.aga {
    color: #9199B3;
    margin-top: 15px;
}

.do {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 5px;
}

img {
    height: 90px;
}

marquee {
    font-size: 90px;
}

main {
    padding: 0px 270px;
    background-color: #F8F9FA;
}

.container {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#F8F9FA;
}
.item-one {
    padding-top: 50px;
    display: flex;   
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: #E9EBF0;
}

.bom {
    font-weight: 700;
}

p {
    margin: 20px;
    font-weight: 600;
}

.kolobok {
    color: #B9BECF;
}

.item-two {
    display: flex;
    border-bottom: 2px solid;
    border-color: #E9EBF0;
}
.item-two p {
    font-weight: 500;
}

.ebat {
    justify-content: space-between;
    display: flex;
}

.item-three {
    background-color:#F8F9FA;
}

.btn {
    height: 100%;
    padding: 12px 20px;
    background-color: #315EFB;
    color:white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
 .btn:hover {
     color:#315EFB;
     background-color: white;
     box-shadow: inset 0 0 0 3px #315EFB;
 }

 .col {
    height: 40px;
    position: relative;
	width: 100px;
	background: #FFFFFF;
	border: 1px solid;
    border-radius: 4px;
    border-color: #E9EBF0;
    border-radius: 0px;
 }


.col select{
    width: 90px;
    height: 100%;
	background: none;
}

option,
select {
    padding-left: 15px;
    padding-top: 5px;
    border: none;
    height: 100%;
}


.col:focus,
.col:hover {
	border: 1px solid #315EFB;
	color: #315EFB;
}

/*убирает стрелочки в инпуте*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.inp input {
    height: 40px;
    width: 250px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #E9EBF0;
    border-radius: 0px;
}

.inp input:focus,
.inp input:hover {
	border: 1px solid #315EFB;
	color: #315EFB;
}
.row {
    border: none;
    padding-left: 20px;
}

.item-four {
    border-top: 5px dotted rgb(197, 220, 230);
}

.wrapper-table {
    margin-top: 20px;
    width: 10%;
    margin-left: 40%;
}

table {
    margin-left: 20px;
    background-color: white;
    border-collapse: collapse;
    border-style: hidden;
    color: #9199B3;
}

table td{
    border-left: 0;
    border-right: 0;
    border-top:1px solid #E9EBF0;
    border-bottom:1px solid #E9EBF0;
    font-weight: 500;
    padding: 20px 20px; 
}

table th {
    border-left: 0;
    border-right: 0;
    border-top:1px solid #E9EBF0;
    border-bottom:1px solid #E9EBF0;
    padding: 20px 20px;
}

table tr:nth-child(2n+3) {
    background-color: #F9FAFB;
}

table td:nth-child(2n) {
    color: black;
}

.mda {
    margin-top: 20px;
    background-color:rgb(234, 239, 243);
    
}

footer {
    margin: 0;
    border-top: 5px dotted rgb(168, 195, 207);
}

footer p {
    margin: 0;
    padding-top: 0;
    padding: 10px;
    text-align: center;
    
}



@media screen and (max-width: 800px) { 

    html, body {
        max-width: 100%;
    }
    
    marquee {
        font-size: 20px;
    }

    main {
        padding: 0;
    }

    .item-one p {
        margin-left: 20px;
        padding-bottom: 5px;
    }

    .item-two {
        display: flex;
        flex-direction: column;
    }

    .item-two p {
        margin: 10px 20px;
    }


    .ebat {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin-bottom: 10px;
    }

    .break {
        width: 100%;
    }

    .col {
        width: 95px;
    }

    .col.one {
        margin-left: 20px;
        margin-top: 10px;
    }

    .col.two {
        margin-top: 10px;
    }

    .btn {
        margin-left: 20px;
    }

    .bd {
        text-align: start;
        padding-left: 20px;
    }

    .wrapper-table {
        width: 60%;
        margin-left: 0px;
        margin-top: 10px;
        }

        .inp input {
            width: 200px;
            height: 40px;
            border: 1px solid;
            border-radius: 4px;
            border-color: #E9EBF0;
            border-radius: 0px;
        }

        .dd {
            display: none;
        }

        .btn {
            margin-top: 10px;
            width: 200px;
        }

        .kolobok {
            display: none;
        }
 }
